:root {
    --button_text:#2D2D2D;
    --button_color: #ffffff;
    --button_border: #F6921E;
    
    --button_join_text: #2D2D2D;
    --button_join_color: #F6921E;

    --svg_fill:#f6911e3d;
    --svg_stroke: #F6921E;
    --svg_join_stroke:#2d2d2d;
    --svg_join_fill:#ffffff;


    --button_radius: 8px;
    --button_shadow: 0px 0px 10px #00000024;
}

.btn.btn--primary.btn--brand-2.btn--invert{
    color: var(--button_text);
    background-color: var(--button_color);
    border-radius: var(--button_radius);
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 28%;
    text-align:left;
    font-size:22px;
    box-shadow: var(--button_shadow);
    border-color: var(--button_border);
    border-width:2px;
}

.button-module .frame__cell-item:has(.btn.btn--primary.btn--brand-2.btn--invert) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0;
}


.btn.btn--primary.btn--brand-2.btn--invert::before, .btn.btn--primary.btn--brand-2.btn--invert::after  {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: var(--svg-background-color);
}


.btn.btn--primary.btn--brand-2.btn--invert::before {
    background-color: var(--svg_fill);
}
.btn.btn--primary.btn--brand-2.btn--invert::after {
    background-color: var(--svg_stroke);
}



/* 
Lån         
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/loan_house.svg
Forsikring  
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/insurance_umbrella.svg
Sparing     
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/graph_up.svg
Bruke       
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/payment_card.svg
Kontakt     
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_talk.svg
Megler      
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/realestate_key.svg
Erklæring   
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_kyc.svg
Samtykke    
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_approve.svg
Bli kunde   
https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/new_customer.svg
*/

/*Legg inn link til svg for knapp nr 1  */ 
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(1):before {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/loan_house_background.svg") no-repeat center / contain;
}
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(1):after {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/loan_house.svg") no-repeat center / contain;
}


/*Legg inn link til svg for knapp nr 2  */ 
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(2):before {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/insurance_umbrella_background.svg") no-repeat center / contain;
}
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(2):after {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/insurance_umbrella.svg") no-repeat center / contain;
}


/*Legg inn link til svg for knapp nr 3 */ 
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(3):before {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/graph_up_background.svg") no-repeat center / contain;
}
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(3):after {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/graph_up.svg") no-repeat center / contain;
}


/*Legg inn link til svg for knapp nr 4  */ 
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(4):before {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_talk_background.svg") no-repeat center / contain;
}
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(4):after {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_talk.svg") no-repeat center / contain;
}


/*Legg inn link til svg for knapp nr 5  */ 
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(5):before {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/realestate_key_background.svg") no-repeat center / contain;
}
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(5):after {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/realestate_key.svg") no-repeat center / contain;
}


/*Legg inn link til svg for knapp nr 6  */ 
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(6):before {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_kyc_background.svg") no-repeat center / contain;
}
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(6):after {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_kyc.svg") no-repeat center / contain;
}


/*Legg inn link til svg for knapp nr 7  KUN HVIS DU HAR 8 KNAPPER*/ 
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(7):before {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_approve_background.svg") no-repeat center / contain;
}
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(7):after {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/bubble_approve.svg") no-repeat center / contain;
}


/*Legg inn link til svg for knapp nr 8  KUN HVIS DU HAR 8 KNAPPER*/ 
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(8):before {
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/new_customer_background.svg") no-repeat center / contain;
}
.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(8):after {
<<<<<<< HEAD
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/new_customer.svg") no-repeat center / contain;
=======
    -webkit-mask: url("https://www.testsite.lokalbank.no/-/media/lbamalbank/svg/loan_house.svg") no-repeat center / contain; 
>>>>>>> 67fa5934aa90cd0fc976e9b510a0f845452d2557
}


.btn.btn--primary.btn--brand-2.btn--invert:last-of-type {
    background-color: var(--button_join_color);
    color: var(--button_join_text);
}

.btn.btn--primary.btn--brand-2.btn--invert:last-of-type:after {
    background-color: currentColor;
    color: var(--svg_join_stroke);
}
.btn.btn--primary.btn--brand-2.btn--invert:last-of-type:before {
    background-color: currentColor;
    color: var(--svg_join_fill);
}


@media (min-width: 1160px) {
   .button-module .frame__cell-item:has(.btn.btn--primary.btn--brand-2.btn--invert) {
        max-width: 100%;
        margin-left: 0;
        padding:0px;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
     .button-module .frame__cell-item:has(.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(8)){
        .btn.btn--primary.btn--brand-2.btn--invert{
            max-width: 22%;
        }
        max-width: 1520px;
    }
    
}

@media (min-width: 1024px){
     .frame__cell-item:has(.btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(8)){
        .btn.btn--primary.btn--brand-2.btn--invert{
            max-width: 24%;
        }
         
    }
}

@media (max-width: 1024px) {
 
    .btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(7){
        max-width: 46%;
    }
    .btn.btn--primary.btn--brand-2.btn--invert:nth-of-type(8){
        max-width: 46%;
    }
    
}

@media (max-width: 768px) {   
    .btn.btn--primary.btn--brand-2.btn--invert{
        padding: 10px;
        margin-top: 12px;
        margin-bottom: 12px;
        max-width: 45%;
        font-size:16px;
    }
    .btn.btn--primary.btn--brand-2.btn--invert::after {
                width: 28px;
                height: 28px;
                right: 8px;
    }
}